deploy_repo: "git@github.com:smart-home/smarthome-deployment.git"
deploy_rev: "master"
hub_repo: "git@github.com:smart-home/smarthome-hub-sync.git"
hub_rev: "master"
config_repo: "git@github.com:smart-home/smart-home-config.git"
config_rev: "master"
blobs_repo: "git@github.com:smart-home/smarthome-deployment-blobs.git"
blobs_rev: "master"
drivers_repo: "git@github.com:smart-home/smarthome-drivers.git"
drivers_rev: "master"
